<% # get author
author = if member_signed_in?
  if post.member
    post.member.name
  else
    "[Author deleted]"
  end
end %>

<div class="post-item box">
  <div class="is-flex is-size-5 is-justify-content-space-between">
    <h2 class="is-clipped">
      <%= link_to post.title, post_path(post), class: "has-text-black has-text-weight-light" %>
    </h2>
    <% if member_signed_in? && post.member && post.member == current_member %>
      <span class="is-flex-shrink-0">
        <a href="<%= edit_post_path(post) %>">
          <%= render "elements/icon", icon: "pencil-fill", color: :cornflowerblue %>
        </a>
        <a href="<%= post_path(post) %>" data-confirm="Are you sure?" rel="nofollow" data-method="delete">
          <%= render "elements/icon", icon: "trash-fill", color: :cornflowerblue %>
        </a>
      </span>
    <% end %>
  </div>

  <% if member_signed_in? %>
    <p class="has-text-weight-light"><%= author %></p>
  <% end %>

  <div class="content mt-2 mb-3">
    <%= post.content %>
  </div>

  <div class="post-metadata">
    <p class="is-italic has-text-weight-light is-size-7">Posted at <%= post.created_at.strftime "%Y-%m-%d %l:%M%P" %></p>
    <% if post.created_at != post.updated_at %>
      <p class="is-italic has-text-weight-light is-size-7">Updated at <%= post.updated_at.strftime "%Y-%m-%d %l:%M%P" %></p>
    <% end %>
  </div>
</div>